/* Universal CSS Styles */

.white-divider {
  border-radius: 5px;
  border: #fff 1px solid;
  width: 100%;
}

.black-divider {
  border-radius: 5px;
  border: #000 1px solid;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  width: 80%;
  max-width: 1600px;
  margin: auto;
  padding: 2rem 0;
}

.text-container {
  width: 80%;
  max-width: 500px;
  margin: 0 auto 20% auto;
}

.logo-container {
  width: fit-content;
  margin: auto;
}

/* Login Page */

.Login-flex {
  display: flex;
  flex-direction: row;
}

.Login-img-size {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("https://images.pexels.com/photos/3962286/pexels-photo-3962286.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 50vw;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo {
  font-family: "Mr Dafoe", cursive;
  font-size: 64px;
  transform: rotate(-8.82deg);
  font-weight: 500;
}

#slogan {
  font-family: "Mr Dafoe", cursive;
  font-size: 42px;
  font-weight: 500;
}

.login-background {
  background-color: var(--third-color);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: var(--background-padding);
}

.flex-display {
  /* height: 150px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-display label {
  margin: 0 auto 1rem auto;
}

.btn-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  /* margin: auto; */
  align-items: center;
  padding: 1rem 2rem;
}

#btn-login {
  background-color: var(--secondary-color);
  color: #fff;
  transition: 0.1s ease-in;
}

#btn-login:hover {
  background-color: #a84d10;
}

#btn-signup {
  background-color: var(--fifth-color);
  color: #fff;
  transition: 0.1s ease-in;
}

#btn-signup:hover {
  background-color: #035fc9;
  color: #fff;
}

/* Sign-up Page */

.signup {
  background-color: var(--third-color);
  color: #fff;
  text-align: center;
  padding: 5rem 0 0 0;
  height: calc(100vh - 5rem);
  min-height: min-content;
}

.signup div a {
  color: #fff;
  height: min-content;
}

.signup div {
  width: fit-content;
}

.signup button {
  background-color: var(--secondary-color);
  color: #fff;
}

/* Cart Page CSS */
.cart-summary {
  background-color: var(--third-color);
  max-width: 425px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 0;
  box-shadow: -4px 5px 15px 0px rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
}

.cart-summary h3 {
  margin: 0;
  font-weight: 400;
  background-color: var(--primary-color);
  padding: 1.5rem 1rem;
}

.cart-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart-items {
  padding: 0rem 8rem;
  width: 75%;
  max-width: 1100px;
}

.cart-items h2 {
  margin: 0 auto 3rem auto;
}

#checkout {
  background-color: var(--secondary-color);
  color: #fff;
  transition: 0.1s ease-in;
}

#checkout:hover {
  background-color: #a84d10;
}

#emptyCart button {
  background-color: var(--secondary-color);
  color: #fff;
  transition: 0.1s ease-in;
}

#emptyCart button:hover {
  background-color: #a84d10;
}

/* Navigation Bar CSS */

.NavBar {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  align-items: baseline;
  color: #fff;
  text-decoration: none;
  padding: 1.5rem 2rem;
}

.NavBar h1 {
  font-family: "Mr Dafoe", cursive;
  font-size: 48px;
  transform: rotate(-8.82deg);
  font-weight: 500;
  margin: 0;
}

.NavBar #slogan {
  margin: 0;
  font-size: 34px;
}

.NavBar a {
  color: #fff;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  /* transition: 0.1s ease-in; */
}

.popup-inner {
  background-color: rgba(256, 265, 256, 0.75);
  padding: 1rem 2rem;
  border-radius: 5px;
  color: #000;
  max-width: 350px;
  width: 100%;
  pointer-events: auto;
  /* margin: auto; */
}

/* Footer CSS */

footer #logo {
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
  opacity: 0.75;
}

.logo-div {
  width: 100%;
  margin: auto;
}

.flex-column a {
  margin-bottom: 1rem;
}

/* Loading Screen */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  /*left: 50%;
   top: 50%; */
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--secondary-color);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--fifth-color);
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--third-color);
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Home page */

.hero {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("./assets/images/fruits.jpg");
  background-size: cover;
  background-position: center;
}

#coolsign {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: 300;
}

#coolsign {
  display: inline-block;
  color: white;
  font-size: 50px;
  position: relative;
  left: 20%;
  top: 50%;
}

#shopbtn {
  position: relative;
  left: 20%;
  top: 50%;
}
/* Card */

.card {
<<<<<<< HEAD
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.card-img-top{
  width:100%;
  min-width:300px;
}

.card-title{
  padding:20px;
  color:#fff;
}

.card-text{
  color:#fff

}
=======
}
>>>>>>> f77aa42 (Fixed signup and cart)
