/* Universal CSS Styles */

.white-divider {
  border-radius: 5px;
  border: #fff 1px solid;
  width: 100%;
}

.black-divider {
  border-radius: 5px;
  border: #000 1px solid;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.container {
  width: 80%;
  max-width: 1600px;
  margin: auto;
}

.text-container {
  width: 80%;
  max-width: 500px;
  margin: 0 auto 20% auto;
}

/* Login Page */

.Login-flex {
  display: flex;
  flex-direction: row;
}

.Login-img-size {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("https://images.pexels.com/photos/3962286/pexels-photo-3962286.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 50vw;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo {
  font-family: "Mr Dafoe", cursive;
  font-size: 64px;
  transform: rotate(-8.82deg);
  font-weight: 500;
}

#slogan {
  font-family: "Mr Dafoe", cursive;
  font-size: 42px;
  font-weight: 500;
}

.login-background {
  background-color: var(--third-color);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: var(--background-padding);
}

.flex-display {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  margin: auto;
  align-items: center;
  padding: 1rem 2rem;
}

#btn-login {
  background-color: var(--secondary-color);
  color: #fff;
  transition: 0.1s ease-in;
}

#btn-login:hover {
  background-color: #a84d10;
}

#btn-signup {
  background-color: var(--fifth-color);
  color: #fff;
  transition: 0.1s ease-in;
}

#btn-signup:hover {
  background-color: #035fc9;
  color: #fff;
}

/* Cart Page CSS */
.cart-summary {
  background-color: var(--third-color);
  max-width: 425px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 0;
  box-shadow: -4px 5px 15px 0px rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
}

.cart-summary h3 {
  margin: 0;
  font-weight: 400;
  background-color: var(--primary-color);
  padding: 1.5rem 1rem;
}

.cart-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart-items {
  padding: 0rem 8rem;
  width: 75%;
  max-width: 1100px;
}

.cart-items h2 {
  margin: 0 auto 3rem auto;
}

#checkout {
  background-color: var(--secondary-color);
  color: #fff;
  transition: 0.1s ease-in;
}

#checkout:hover {
  background-color: #a84d10;
}

/* .Login-img {
  height: 100%;
  width: auto;
} */
