@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mr+Dafoe&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif;
}

* {
  --primary-color: #283618;
  --secondary-color: #d16014;
  --third-color: #939f5c;
  --fourth-color: #bbce8a;
  --fifth-color: #0e7dfb;
  --background-padding: 4rem 3rem;
}

:root {
}

button {
  font-family: "Montserrat", sans-serif;
  padding: 0.75rem 1rem;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 0;
  box-shadow: -4px 5px 15px 2px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 42px;
}

h3 {
  font-weight: 400;
  font-size: 36px;
}

p {
  font-weight: 400;
  font-size: 16px;
}

footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem 5rem;
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease-in;
}

footer a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
